<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @dragon.name%></title>
    <link rel="stylesheet" href="../public/dragons.css">
  </head>
  <body>
    <h1><%= @dragon.name %></h1>
    <div class="dragon-info">
      <img class='dragon-show-picture' src="<%= @dragon.picture_url %>" alt="A dragon">
      <h3 class='rider-name'>Rider: <%= @dragon.rider.fname %> <%= @dragon.rider.lname %></h3>

      <div class="memories-container">
        <h3>Memories</h3>
        <ul class='memories-list'>
          <% @dragon.memories.each do |memory| %>
          <li class='memory-container'>
            <div class="memory-location">
              <strong>Location:</strong> <%= memory.location %>
            </div>
            <div class="memory-content">
              <%= memory.content %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>

    </div>
    <footer class='footer-links'>
      <a href="<%= "/dragons/#{@dragon.id}/edit" %>">Change me!</a>

      <a href="/dragons">Back to the Dragon Nest</a>
      
      <form class="delete-button" action='<%= "/dragons/#{@dragon.id}" %>' method="post">
        <input type="hidden" name="_method" value="delete">

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" name="" value="Slay the Dragon :O">
      </form>

    </footer>
  </body>
</html>
